body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F0F2F5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    background-image: url('img/backgroundmain.png');
}

/* Container Styles */
.container {
    background-image: url('img/backgroundmain.png'); /* Tło kontenera */
    background-size: cover;
    background-position: center;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Logo Styles */
.logo {
    max-width: 120px; /* Rozmiar logo */
    margin-bottom: 5px; /* Odstęp poniżej logo */
    border-radius: 50%; /* Zaokrąglenie do formy okręgu */
}
.column#zoomIn img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.column#zoomIn:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Button Styles */
button {
    padding: 12px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    max-width: 280px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #0056b3;
}

/* Menu Styles */
.menu {
    display: flex;
    align-items: center;
}
.menu ul {
    display: flex;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

/* Text Styles */
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 1.5em;
}
.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}
.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

/* Hide transition overlay on initial load */
.page-transition.hidden {
    display: none;
}

/* Page Transition Effect */
.page-transition {
    position: fixed;
    top: 100%; /* Start from below the viewport */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333; /* Default color */
    z-index: 100;
    pointer-events: none;
    transform: translateY(0); /* Start off-screen at the bottom */
    transition: transform 0.8s cubic-bezier(0.77, 0, 0.175, 1), background-color 0.3s ease;
}
.page-transition.active {
    transform: translateY(-100%); /* Move upwards to cover the screen */
}

/* Initial hidden state to avoid flash on load */
.page-transition.hidden {
    display: none;
}











